<div marginwidth="0" marginheight="0">
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_-3278881366895834182bodyTable">
            <tbody><tr>
                <td align="center" valign="top" id="m_-3278881366895834182bodyCell" style="padding-bottom:10px">
                    
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody><tr>
            <td align="center" valign="top">
                
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-3278881366895834182templateHeader">
                    <tbody><tr>
                        <td align="center" valign="top">
                            <table border="0" cellpadding="0" cellspacing="0" width="640">
                                <tbody><tr>
                                    <td valign="top" style="padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <td valign="top" style="padding:0px">
                                                <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0">
                                                    <tbody><tr>
                                                        <td valign="top" style="padding-right:0px;padding-left:0px;padding-top:0;padding-bottom:0;text-align:center">
                                                            <img align="center" alt="" src="https://ci5.googleusercontent.com/proxy/gCJYDGIOfDGx_wzB0Gg1l5embfpYcXlnG4cPx-fvx8LUjJhqtinQ8uT1bNiWh_Sm_6W9AcPAksZqUKntGd7t5nBBzyY7dnoTZ0ygoVqyKfcqV0c0RojyjNxQyx_c=s0-d-e1-ft#https://www.infinitycarsnc.com/images/LOGO_IC-con-macchina_DEMOLIZIONE.jpg" width="640" style="max-width:1600px;padding-bottom:0;display:inline!important;vertical-align:bottom" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 659.202px; top: 128.991px;"><div id=":1cd" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Scarica" role="button" tabindex="0" aria-label="Scarica allegato " data-tooltip-class="a1V"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    </td>
                                </tr>
                            </tbody></table>
                        </td>
                    </tr>
                </tbody></table>
                
            </td>
        </tr>
                        <tr>
                            <td align="center" valign="top">
                                
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-3278881366895834182templateBody">
                                    <tbody><tr>
                                        <td align="center" valign="top">
                                            <table border="0" cellpadding="0" cellspacing="0" width="640">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-bottom:9px">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%!important">
                                                            
                                                            <tbody>
                                                            <tr>
                                                                <td valign="top">
                                                                    
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:639px;max-width:639px">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td style="padding-bottom:9px">
                                                                                <table border="0" cellpadding="18" cellspacing="0" width="100%" style="min-width:100%!important;background-color:#ffffff">
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" style="text-align:justify">
                                                                                            <div style="text-align:justify"><strong><u>È lieta di comunicarti l'inserimento dei dati. Verifica che i dati siano corretti.</u></strong></div>
    
                                                                                            <div style="text-align:left"><strong><u>Verrai ricontattato entro e non oltre le <span style="color:#ff0000">24h</span> lavorative.</u></strong></div>
    
                                                                                            <div style="margin-top:8px">
                                                                                                <div>Usa queste credenziali per accedere all'APP di InfinityCar e alla tua pagina dedicata</div>
                                                                                                <strong>Login:</strong> <span><a href="" target="_blank">{{emailCliente}}</a></span><br>
                                                                                                <strong>Password:</strong> <span>infinity</span><br>
                                                                                            </div>
    
                                                                                            <div style="text-align:left;margin-top:16px">
                                                                                                <div>Nota importante: qui sotto troverai il link per poter scaricare l'APP di InfinityCar che ti permetterà di gestire la tua pratica di demolizione comodamente dal tuo cellulare e scaricare i certificati man mano che saranno pronti:</div>
                                                                                                <div style="text-align:center;margin:8px">
                                                                                                    <a style="text-decoration:unset" href="https://play.google.com/store/apps/details?id=com.infinitycarsnc.client.privato.mobile" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://play.google.com/store/apps/details?id%3Dcom.infinitycarsnc.client.privato.mobile&amp;source=gmail&amp;ust=1658085209847000&amp;usg=AOvVaw1LyutnL6zHasjAMgLucX2M">
                                                                                                        <span><img style="vertical-align:middle" src="https://ci5.googleusercontent.com/proxy/o5uJ-lgq1MZZ96lo7EjQ_U3VPJKooIgV3B7mqI0BkoKneUlQoBBA7_8si29XFzYQw94LPkuEq2u-oO_feKnwCPSPhyMNAY6pHwiBBXNOzCq9=s0-d-e1-ft#https://play.google.com/intl/en_us/badges/images/badge_new.png" alt="" width="130" class="CToWUd"></span>
                                                                                                    </a>
                                                                                                    <a style="margin-left:24px;text-decoration:unset">
                                                                                                        <span>Al momento disponibile soltanto per Android</span>
                                                                                                    </a>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div>
                                                                                                <div>
                                                                                                    <span>Se preferisci gestire la tua pratica dal tuo computer, ti abbiamo dedicato una pagina dove potrai seguire l'iter di demolizione:</span>
                                                                                                    <a href="https://home.infinitycarsnc.com" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://home.infinitycarsnc.com&amp;source=gmail&amp;ust=1658085209847000&amp;usg=AOvVaw32pd8LnyJld5Eb9Qg6F3lL"><span>https://home.infinitycarsnc.<wbr>com</span></a>
                                                                                                </div>
                                                                                            </div>
    
                                                                                            <div style="text-align:justify;margin-top:16px">
                                                                                                <strong>Nome:</strong> <span>{{clientName}}</span><br>
                                                                                                <strong>Cognome:</strong> <span>{{clientLastName}}</span><br>
                                                                                                <strong>E-Mail:</strong> <span>{{clientEmail}}</span><br>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody></table>
                                                                    
    
                                                                    
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td valign="top">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="640">
                                <tbody>
                                    <tr>
                                        <td valign="top" style="padding:9px 18px;text-align:justify">
                                            <div style="text-align:center">Il TEAM di <strong>InfinityCar</strong></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td valign="top">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="640">
                                <tbody>
                                    <tr>
                                        <td valign="top" style="padding:9px 18px;text-align:justify">
                                            <div style="text-align:center">
                                                <a href="https://www.youtube.com/user/InfinityCARsas" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/user/InfinityCARsas&amp;source=gmail&amp;ust=1658085209847000&amp;usg=AOvVaw3JnySxPPDVSDo43sBp2CBr"></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tbody>
                    <tr>
                        <td valign="top">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="640">
                                <tbody>
                                    <tr>
                                        <td valign="top" style="padding:9px 18px;text-align:justify">
                                            <div style="text-align:center">
                                                <a href="https://www.youtube.com/user/InfinityCARsas" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/user/InfinityCARsas&amp;source=gmail&amp;ust=1658085209847000&amp;usg=AOvVaw3JnySxPPDVSDo43sBp2CBr">Guarda le interviste ai comandanti e ai vigili</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
                                                    </td>
                                                </tr>
                                            </tbody></table>
                                        </td>
                                    </tr>
                                </tbody></table>
                                
                            </td>
                        </tr>
                        <tr>
                    <td align="center" valign="top">
                        
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="m_-3278881366895834182templateFooter">
                            <tbody><tr>
                                <td align="center" valign="top">
                                    <table border="0" cellpadding="0" cellspacing="0" width="640">
                                        <tbody><tr>
                                            <td valign="top" style="padding-top:9px;padding-bottom:9px">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top">
                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="640">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td valign="top" style="padding:9px 18px;text-align:justify">
                                                                                <p style="text-align:center">
                                                                                    <strong>
                                                                                        <span style="color:red;font-family:calibri,sans-serif;font-size:14pt">Chiamaci allo </span>
                                                                                    </strong>
                                                                                    <strong style="line-height:20px;text-align:center">
                                                                                        <span style="font-family:calibri,sans-serif;font-size:14pt">
                                                                                            <span style="color:black">02.48.40.12.56 </span>
                                                                                        </span>
                                                                                    </strong>
                                                                                    <br>
                                                                                    <br>
                                                                                    <strong>
                                                                                        <span style="font-family:calibri,sans-serif;font-size:14pt">
                                                                                            <a href="https://wa.me/3476827920" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://wa.me/3476827920&amp;source=gmail&amp;ust=1658085209847000&amp;usg=AOvVaw2WHzG6UtaJos7LOww9eX2D">
                                                                                                <img style="border-radius:100%" src="https://ci6.googleusercontent.com/proxy/qDKnoAZdsoj3Cw2221H_ltSP2utzn_O9lNLOG--Ou8SbGoKoGvh23b4mjiZz4fM2pLry9S_uxBgxAHWnxQdxxtbCOYTluBrfvto9mw=s0-d-e1-ft#https://www.infinitycarsnc.com/images/whatsapp-circle.png" class="CToWUd">
                                                                                            </a>
                                                                                            <a href="https://www.facebook.com/infinitycarsas" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/infinitycarsas&amp;source=gmail&amp;ust=1658085209847000&amp;usg=AOvVaw1mQerAd6NoztaiFcUM2BPr">
                                                                                                <img src="https://ci3.googleusercontent.com/proxy/hCNTsSvwnG8z4gegK90ZJ6de5TjwLzWQQvoWpm3KFIrKUu4KE9A_gQxuX7jM-nZqeTNedsUDOZ07-wbOQ52TzaQvV7eAlB8uyI_oVw=s0-d-e1-ft#https://www.infinitycarsnc.com/images/facebook-circle.png" style="border-radius:100%" class="CToWUd">
                                                                                            </a>
                                                                                            <a href="https://www.youtube.com/user/InfinityCARsas" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.youtube.com/user/InfinityCARsas&amp;source=gmail&amp;ust=1658085209847000&amp;usg=AOvVaw3JnySxPPDVSDo43sBp2CBr">
                                                                                                <img src="https://ci6.googleusercontent.com/proxy/EjNlE9fSb2Pmmh3-XeT5_6YZqfnViQeSdoc60bq0q84zy1zEgfq5ZJ8voIqtDDgEyuYW6vZDvtPo5zyBYBa8Ygh-Yl8sGI8aLw6F=s0-d-e1-ft#https://www.infinitycarsnc.com/images/youtube-circle.png" style="border-radius:100%" class="CToWUd">
                                                                                            </a>
                                                                                            <a href="https://www.twitter.com/InfinityCar_snc" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.twitter.com/InfinityCar_snc&amp;source=gmail&amp;ust=1658085209848000&amp;usg=AOvVaw0KJFoxcmn9G0RS0Dno6Iys">
                                                                                                <img style="height:64px;width:64px;border-radius:100%" src="https://ci4.googleusercontent.com/proxy/OaqDtDc6QP9VIlPj4f6RFblQxg_kk3vIxT0r4CGYaZptqEMorOu_zbGixYEFchDhMjx3mTlXUTofrjJQQ0TzLrT_9gw=s0-d-e1-ft#https://www.infinitycarsnc.com/images/Twitter.png" class="CToWUd">
                                                                                            </a>
                                                                                            <a href="https://www.linkedin.com/company/18844988" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.linkedin.com/company/18844988&amp;source=gmail&amp;ust=1658085209848000&amp;usg=AOvVaw28SecZd7DFj88RkSHN1EBW">
                                                                                                <img src="https://ci5.googleusercontent.com/proxy/2b81vIVBOaULGdO1efqKrmwT_hsvhMBguJp6t4lqgt5euTY7nKGjN5f6hSILMmv0OjQyYpYdH3jPFX9rx6s8fQ4WfvS_zfn_orVonw=s0-d-e1-ft#https://www.infinitycarsnc.com/images/linkedin-circle.png" style="border-radius:100%" class="CToWUd">
                                                                                            </a>
                                                                                        </span>
                                                                                    </strong>
                                                                                    <br>
                                                                                    <br>
                                                                                </p>
                                                                                <p style="text-align:center">
                                                                                    <strong>
                                                                                        <span style="color:red;font-family:calibri,sans-serif;font-size:14pt">Email</span>
                                                                                    </strong>
                                                                                    <span style="color:white;font-family:calibri,sans-serif;font-size:14pt">:
                                                                                    </span>
                                                                                    <a href="mailto:demolizione.infinitycar@gmail.com" target="_blank">
                                                                                        <strong>
                                                                                            <span style="color:#0220b6;font-family:calibri,sans-serif;font-size:16pt">demolizione.infinitycar@gmail.<wbr>com</span>
                                                                                        </strong>
                                                                                    </a>
                                                                                </p>
                                                                                <p style="text-align:center">
                                                                                    <span style="font-family:verdana,sans-serif;font-size:8pt">I dati personali verranno trattati esclusivamente da INFINITY CAR, nel pieno rispetto della legge 196/2003, che si impegna a non diffonderli e a mantenerli nei propri archivi a suo uso esclusivo a fini statistici e di invio di informazioni commerciali. Chi lo desiderasse potrà farli modificare o cancellare in qualsiasi momento semplicemente richiedendolo espressamente tramite un messaggio di posta elettronica all'indirizzo </span>
                                                                                    <span style="font-family:times new roman,serif;font-size:12pt">
                                                                                        <span style="font-family:verdana,sans-serif;font-size:8pt">
                                                                                            <a href="mailto:infinitycar@tiscali.it" target="_blank">infinitycar@tiscali.it</a>
                                                                                        </span>
                                                                                    </span>
                                                                                </p>
                                                                                <p style="text-align:center">
                                                                                    <span style="font-family:times new roman,serif;font-size:12pt">______________________________<wbr>______________________________</span>
                                                                                </p>
                                                                                <div align="center">
                                                                                    <table border="0" cellpadding="0" cellspacing="0">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="padding-bottom:0cm;padding-top:0cm;padding-left:0cm;padding-right:0cm">
                                                                                                    <p align="center" style="text-align:center;margin-top:0cm;line-height:12pt">
                                                                                                        <span style="border-bottom:windowtext 1pt;border-left:windowtext 1pt;border-right:windowtext 1pt;border-top:windowtext 1pt;color:green;font-family:webdings;font-size:8pt;padding-bottom:0cm;padding-left:0cm;padding-right:0cm;padding-top:0cm">P</span>
                                                                                                        <span style="border-bottom:windowtext 1pt;border-left:windowtext 1pt;border-right:windowtext 1pt;border-top:windowtext 1pt;color:green;font-family:arial unicode ms,sans-serif;font-size:8pt;padding-bottom:0cm;padding-left:0cm;padding-right:0cm;padding-top:0cm">Before printing think about</span>
                                                                                                        <strong>
                                                                                                            <span style="border-bottom:windowtext 1pt;border-left:windowtext 1pt;border-right:windowtext 1pt;border-top:windowtext 1pt;color:navy;font-family:inherit;font-size:8pt;padding-bottom:0cm;padding-left:0cm;padding-right:0cm;padding-top:0cm">&nbsp;</span>
                                                                                                        </strong>
                                                                                                        <strong>
                                                                                                            <span style="border-bottom:windowtext 1pt;border-left:windowtext 1pt;border-right:windowtext 1pt;border-top:windowtext 1pt;color:green;font-family:arial unicode ms,sans-serif;font-size:8pt;padding-bottom:0cm;padding-left:0cm;padding-right:0cm;padding-top:0cm">environment</span>
                                                                                                        </strong>
                                                                                                        <span style="border-bottom:windowtext 1pt;border-left:windowtext 1pt;border-right:windowtext 1pt;border-top:windowtext 1pt;color:#111111;font-family:arial,sans-serif;font-size:8pt;padding-bottom:0cm;padding-left:0cm;padding-right:0cm;padding-top:0cm">&nbsp;</span>
                                                                                                        <strong>
                                                                                                            <span style="border-bottom:windowtext 1pt;border-left:windowtext 1pt;border-right:windowtext 1pt;border-top:windowtext 1pt;color:green;font-family:inherit;font-size:8pt;padding-bottom:0cm;padding-left:0cm;padding-right:0cm;padding-top:0cm">and</span>
                                                                                                        </strong>
                                                                                                        <strong>
                                                                                                            <span style="border-bottom:windowtext 1pt;border-left:windowtext 1pt;border-right:windowtext 1pt;border-top:windowtext 1pt;color:#111111;font-family:inherit;font-size:8pt;padding-bottom:0cm;padding-left:0cm;padding-right:0cm;padding-top:0cm">&nbsp;</span>
                                                                                                        </strong>
                                                                                                        <strong>
                                                                                                            <span style="border-bottom:windowtext 1pt;border-left:windowtext 1pt;border-right:windowtext 1pt;border-top:windowtext 1pt;color:green;font-family:inherit;font-size:8pt;padding-bottom:0cm;padding-left:0cm;padding-right:0cm;padding-top:0cm">costs.</span>
                                                                                                        </strong>
                                                                                                        <strong>
                                                                                                            <span style="border-bottom:windowtext 1pt;border-left:windowtext 1pt;border-right:windowtext 1pt;border-top:windowtext 1pt;color:green;font-family:inherit;font-size:8pt;padding-bottom:0cm;padding-left:0cm;padding-right:0cm;padding-top:0cm">&nbsp;</span>
                                                                                                        </strong>
                                                                                                        <span style="border-bottom:windowtext 1pt;border-left:windowtext 1pt;border-right:windowtext 1pt;border-top:windowtext 1pt;color:black;font-family:inherit;font-size:8pt;padding-bottom:0cm;padding-left:0cm;padding-right:0cm;padding-top:0cm">in italiano:&nbsp;</span>
                                                                                                        <strong>
                                                                                                            <span style="border-bottom:windowtext 1pt;border-left:windowtext 1pt;border-right:windowtext 1pt;border-top:windowtext 1pt;color:green;font-family:inherit;font-size:8pt;padding-bottom:0cm;padding-left:0cm;padding-right:0cm;padding-top:0cm">Prima di stampare pensa ai
                                                                                                                costi ambientali&nbsp;</span>
                                                                                                        </strong>
                                                                                                        <span style="color:#008000;font-family:webdings;font-size:10.6666669845581px;line-height:16px;text-align:center">P</span>
                                                                                                    </p>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody></table>
                                </td>
                            </tr>
                        </tbody></table>
                        
                    </td>
                </tr>
                    </tbody></table>
                    
                </td>
            </tr>
        </tbody></table>
    </center><div class="yj6qo"></div><div class="adL">
    </div></div>